/* ------------------------------- slider ------------------------------- */

.slider{
	margin: 0 auto;
	position: relative;
	text-align: center;
}
.slider input{
	display: none;
}
.slider input + label{
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 8px;

	cursor: pointer;

	z-index: 100;
	position: relative;

	margin-right: 1rem;
	top: 115%;

	transition: background 0.8s ease-out 0s;
}
.slider > div{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}
.slider > div{
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}
.slider input:checked + label + div{
	visibility: visible;
	opacity: 1;
	transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

/* ------------------------------- slider certificates ------------------------------- */

.slider-sert{
	width: 480px;
	height: 305px;
}
.slider-sert input + label{
	background: rgba(250, 250, 250, 0.7);
}
.slider-sert input + label:hover{
	background: #ffffff;
}
.slider-sert input:checked + label{
	background: #ffffff;
}
.slider-sert > div > img{
	width: 480px;
	height: 305px;
}

/* ------------------------------- slider feedback ------------------------------- */

.slider-feedback{
	height: 250px;
}
.slider-feedback input + label{
	top: 105%;

	margin-right: 0.5rem;

	background: rgba(0, 0, 0, 0.36);
}
.slider-feedback input + label:hover{
	background: #05799b;
}
.slider-feedback input:checked + label{
	background: #05799b;
}
